.container {
  --border-radius: 20px;

  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: #75757554;
  color: white;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: var(--border-radius);
  padding: 3rem;

  overflow-y: auto;
  max-height: 90vh;

  z-index: 10;
  animation: forwards slide-up 500ms;
}

.textWon,
.textLost {
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-size: 50px;
  text-align: center;
  line-height: normal;
  background-color: var(--main-color);
}

.textWon {
  color: var(--accent-color);
}

.textLost {
  color: #f15252;
}

.section {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.sectionTitle {
  padding: 10px 20px;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  font-weight: bold;
  text-align: center;
}

.list {
  padding: 10px 20px;
}
.stats {
  font-size: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15%;
}

.restart {
  font-size: 20px;
  background-color: var(--accent-color);
  color: black;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transition: translateY(0);
  }
}
