.container {
  position: absolute;
  display: flex;
  gap: 50px;
  flex-direction: column;

  background-color: #75757554;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 50px;

  z-index: 3;
  animation: forwards slide-up 500ms;
}

.textWon,
.textLost {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 50px;
  text-align: center;
  line-height: normal;
  background-color: var(--main-color);
}

.textWon {
  color: var(--accent-color);
}

.textLost {
  color: #f15252;
}

.time {
  text-align: center;
  font-size: 20px;
}

.restart {
  font-size: 20px;
  background-color: var(--accent-color);
  color: black;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transition: translateY(0);
  }
}
