*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --accent-color: #0c8ce9;
  --background-color: #272727;
  --main-color: #1b1b1b;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-color);
  cursor: pointer;
  outline: var(--accent-color);
  transition: outline 100ms;
}
button:hover {
  outline: var(--accent-color) 3px solid;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input,
select {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  padding: 5px 20px;

  border-radius: 8px;
  border: 1px solid transparent;

  text-align: center;

  transition: border-color 0.25s;

  background-color: var(--main-color);
}

input:focus,
input:focus-visible {
  outline: none;
  border-color: var(--accent-color);
  border-width: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: none;
  -moz-appearance: textfield;
}
